server {
    listen {{ nginx_listen_port }} default_server;
    listen [::]:{{ nginx_listen_port }} default_server;

    root {{ nginx_root }};
    index {{ nginx_index_files }};

    server_name {{ nginx_server_name }};

    location / {
        try_files $uri $uri/ =404;
    }
}
